/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Variables */
:root{
    /* color */
    --first-color: hsl(230, 90%, 42%);
    --text-color: hsl(0, 0%, 51%);
    --white-color: hsl(0, 0%, 100%);
    --body-color: hsl(230, 19%, 87%);
    --container-color: hsl(230, 100%, 5%);
}

/* ----------------------- Main ------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.login{
    height: 100vh;
    place-items: center;
    background-color: var(--body-color);
}
.grid{
    display: grid;
}
.content{
    padding: 2rem 1.5rem 2.5rem;
    border-radius: .5rem;
}
/*--------- Layout ---------*/
.login_form{
    padding-bottom: 2rem;
}
.input{
    position: relative;
    padding: 1.35rem 1.25rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    column-gap: .75rem;
}
.input_form{
    border: none;
    outline: none;
}
/* -------- Disply -------- */
.login_content{
    background-color: var(--white-color);
}
.login_title{
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--container-color);
    font-size: 2rem;
    font-weight: 700;
}
.form_list{
    margin-bottom: 1.5rem;
}
.form_title{
    font-size: 1rem;
    color: var(--container-color);
    font-weight: 700;
}
.input_color{
    background-color: var(--container-color);
}
.input_lock,
.input_user,
.input_icon{
    font-size: 1.25rem;
    z-index: 1;
}
.input_lock,
.input_user,
.input_form{
    color: var(--white-color);
}
.input_icon{
    color: var(--first-color);
    cursor: pointer;
}
.input_form{
    background: transparent;
    font-size: .9rem;
    z-index: 1;
}
.input_form::placeholder{
    color: var(--white-color);
}
.input_overlay{
    width: 32px;
    height: 32px;
    background-color: var(--white-color);
    position: absolute;
    right: .9rem;
    border-radius: 50%;
    z-index: 0;
    transition: .4s ease-in-out;
}
.form_link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.login_social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-icon{
    padding-left: .5rem;
}

/* button */
.button{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: .5rem;
    padding: .9rem;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    transition: .4s;
}
.btn-icon{
    padding-left: .5rem;
    position: relative;
    z-index: 1;
    transition: .4s;
}
.btn-icon:hover{
    transform: translateX(5px);
}
.btn_login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--container-color);
    background-color: var(--white-color);
    border: 1px solid var(--container-color);
    font-size: 1rem;
    font-weight: 700;
}
.btn_login:hover{
    background-color: var(--container-color);
    color: var(--white-color);
}
.btn_link{
    position: static;
    text-decoration: underline;
    color: var(--container-color);
    padding: .5rem .5rem 0;
    border-radius: 0;
}
.btn_link:hover{
    color: var(--first-color);
}
.btn_social-login{
    padding: .5rem;
    border-radius: .5rem;
    position: static;
    border: 1px solid var(--container-color);
    color: var(--container-color);
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.facbook:hover{
    background-color: #345998;
    color: var(--white-color);
}
.google:hover{
    background-color: #ea4335;
    color: var(--white-color);
}

/* transition effect */
.overlay-content{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    right: 0;
}
.overlay-content ~ .input_lock{
    color: var(--container-color);
}
.overlay-content ~ .password,
.overlay-content ~ .password::placeholder{
    color: var(--text-color);
}

